@import "custom";

h1,
h2 {
  font-family: "Benne", serif;
}

$main-colors: (
  "black": black,
  "red": red,
  "blue": blue,
  "green": green,
  "yellow": yellow,
);

.App-header {
  @each $main-color, $color-value in $main-colors {
    &.#{$main-color} {
      color: $color-value;
    }
  }
}

.article {
  padding: 10px;
  &-btn {
    padding: 8px;
    border-radius: 10%;
    border: none;
    margin-top: 10px;

    @each $main-color, $color-value in $main-colors {
      &.#{$main-color} {
        background-color: $color-value;
      }
    }
  }

  border: 5px solid white;

  @mixin set-border($color) {
    border: 5px solid $color;
    box-shadow: 10px 10px 5px $color;
  }

  &.active {
    @each $main-color, $color-value in $main-colors {
      &.#{$main-color} {
        @include set-border($color-value);
      }
    }
  }
}
